################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CxMasterPlus/bin/Debug/netcoreapp3.1
/CxMasterPlus/obj
/.vs
